[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/selectbuf"]
	path = bundle/selectbuf
	url = git://github.com/vim-scripts/SelectBuf.git
[submodule "bundle/genutils"]
	path = bundle/genutils
	url = git://github.com/vim-scripts/genutils
[submodule "bundle/multiselect"]
	path = bundle/multiselect
	url = https://github.com/vim-scripts/multiselect.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/colors-solarized"]
	path = bundle/colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
